.registration-form-container {
	border-radius: 0px;
	background-color: whitesmoke;
	margin: 20px auto;
	width: 60%;
}

.registration-form-title {
	font-size: 24px;
	text-align: center;
	color: #333;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	border-bottom: 3px solid #eeeeee;
	padding-bottom: 10px;
	width: 107%;
	margin: -1.8%;
	padding-top: 2%;
	margin-left: -1%;
}
.registration-form-subtitle {
	margin-top: 5px;
	margin-bottom: 21px;
	line-height: 1.4;
	font-weight: 500;
	color: #272727;
	letter-spacing: -0.01em;
	text-align: center;
	font-size: 22px;
	padding-top: 39px;
}
