.registration-form-container {
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px auto;
	width: 100%;
	padding: 20px;
}

.registration-form-title {
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
}
