.categories-page-container {
	margin-top: 50px;
}

.categories-page-header {
	margin: 10px 0 20px 0;
	text-align: left;
	margin-bottom: 20px;
	background-color: inherit;
	border-bottom: 1px solid #eee;
	padding: 5px;
	margin-bottom: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.save-category-checkbox {
	margin-bottom: 20px;
}

.save-category-checkbox label {
	font-weight: bold;
	color: #333;
}

.category-list {
	list-style: none;
	padding-left: 0;
}

.category-list-col {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.category-list li span {
	cursor: pointer;
	display: block;
	font-size: 18px;
	color: #7d3131;
}

.category-buttons {
	float: right;
}
