.payment-header {
  margin: 10px 0 20px 0;
  text-align: left;
  margin-bottom: 20px;
  background-color: inherit;
  border-bottom: 1px solid #eeee;
  padding: 0%;
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 1%;
}

.search-container {
  margin-bottom: 20px;
}

.form-select-lg {
  width: 27%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #f9f9f9;
}

.button-back {
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #262c40;
  margin-top: 5px;
}

.button-back:hover {
  background-color: #50657c;
}
.transacciones-body {
  background-color: #50657c;
}

table {
  width: 101%;
  margin-top: 1%;
  color: #354052;
  border-spacing: 0 10px;
}

.table th {
  background-color: #354052;
  color: #fff;
  border: 1px solid #566168;
  padding: 6px;
  text-align: center;
  font-size: 15px;
}

.table td {
  border: 1px solid #bdc3c7;
  padding: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.table tbody tr:nth-child(odd) {
  background-color: #ecf0f1;
}
