.bank-header {
  margin: 10px 0 20px 0;
  text-align: left;
  background-color: inherit;
  border-bottom: 1px solid #eeee;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.heard-state {
  margin-bottom: -8px;
  font-weight: 700;
  display: block;
  font-size: 15px;
}

.heard-number {
  margin-bottom: -10px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-left: 5px;
  font-size: 15px;
}

.bank-container {
  margin-bottom: 10px;
}

.bank-select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #f9f9f9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: #333333;
  
}

.bank-table {
  width: 100%;
  margin-top: 1%;
  color: #354052;
  border-collapse: collapse;
}

.bank-table th,
.bank-table td {
  border: 1px solid #bdc3c7;
  padding: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  text-align: center;
}

.bank-table th {
  background-color: #354052;
  color: #fff;
  padding: 10px;
}

.bank-btn,
.btn-pagar {
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #262c40;
  margin-top: 5px;
}

.bank-btn:hover,
.btn-pagar:hover {
  background-color: #50657c;
}

.bank-input {
  width: 100%;
  padding: 0px;
  margin-top: 5px;
  background-color: #f2f2f2; 
  border: 2px solid #bdc3c7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: #333333;
  margin-left: 3%;
  border-radius: 4px;
  
}

.bank-flex-container {
  display: flex;
}

.heard-number {
  margin-right: 8px;
  
}
