.create-templates-container {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 70%;
	margin-bottom: 2%;
}

.create-templates-header {
	margin: 10px 0 20px 0;
	text-align: center;
	background-color: inherit;
	padding: 5px;
	margin-bottom: 1%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #333;
	margin-top: -1%;
	padding-top: 2%;
}

.create-templates-form-label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 1.1rem;
}

.create-templates-button {
	background-color: #008d4c;
	border-color: #008d4c;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		border-color 0.3s,
		color 0.3s;
	margin-top: 20px;
	margin-bottom: -3%;
}
.create-templates-button:hover {
	background-color: white;
	border-color: #008d4c;
	color: #008d4c;
}

.create-templates-attributes-list {
	list-style-type: none;
	padding-left: 0;
}

.create-templates-attributes-list li {
	background-color: #e9ecef;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	font-size: 1rem;
}

.create-templates-table th {
	background-color: #008d4c;
	border-color: #008d4c;
	padding: 12px;
	color: #fff;
	font-weight: 700;
	text-align: center;

	border-bottom-width: 2px;
}
.createTemplates-input {
	width: 40%;
}

.create-templates-table td {
	text-align: center;
	line-height: 3.428571;
	border-bottom-width: 1px;
	font-size: 14px;
}

.create-templates-delete-button {
	background-color: white;
	border-color: #dc3545;
	color: #dc3545;
	font-size: 14px;
	font-weight: bold;
	margin-left: 0%;
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		border-color 0.3s,
		color 0.3s;
}
.btn i {
	margin-left: 1px;
}

.create-templates-delete-button:hover {
	background-color: #c82333;
	border-color: #c82333;
	color: white;
}

@media screen and (max-width: 767px) {
	.create-templates-container {
		width: 90%;
		padding: 20px;
	}
}
