.offer-discount-container {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 90%;
	margin-top: 5%;
}

.offer-discount-header {
	font-size: 24px;
	text-align: center;
	color: #333;
	margin-bottom: 2%;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	border-bottom: 3px solid #eeeeee;
	padding-bottom: 10px;
	width: 107%;
	margin: -1.8%;
	padding-top: 2%;
	margin-left: -1%;
}

.offer-discount-subheader {
	text-align: center;
	margin-bottom: 30px;
	font-size: 20px;
	color: #666;
}

.offer-discount-form .form-group {
	margin-bottom: 25px;
}

.offer-discount-form .form-control {
	border-radius: 4px;
	border: 1px solid #ced4da;
	padding: 10px;
	font-size: 1rem;
	width: 100%;
}

.offer-discount-form .form-check-group {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-bottom: 0;
	padding: 15px 20px;
}

.offer-discount-form .form-check-input {
	margin-top: 17px;
	background-color: #00a65a;
	border-color: #008d4c;
	padding: 20px 20px;
}

.offer-discount-form .form-check-label {
	margin-bottom: 50px;
	text-align: center;
	position: relative;
	margin-top: -120%;
}

.offer-discount-form .update-button {
	background-color: #00a65a;
	border-color: #008d4c;
	border-bottom: 1px solid #333;
	color: white;
	text-align: center;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 15%;
	margin: 1%;
}

.offer-discount-form .update-button:hover {
	background-color: #00a65a;
	border-color: #008d4c;
}
