#product-searcher-page {
	background-color: white;
	padding: 30px;
	border-radius: 0px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 100%;
	margin-bottom: 2%;
}

#product-searcher-page .form-check .form-check-input {
	display: inline-block;
	margin-right: 57%;
	margin-bottom: 6%;
	margin-block: 20%;
	padding: 14px 15px;
	margin-top: 3%;
}
.productS-check-label {
	color: #354052;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-left: 23%;
}

.product-table {
	width: 100%;
	border-collapse: separate;
	margin: 10px auto 0;
}

.producSt-table th {
	background-color: #00a65a;
	border-color: #008d4c;
	color: white;
	border: #008d4c;
}

.productS-table td {
	padding: 12px;
	color: #333;
	font-weight: 500;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}

.productS-table tbody tr:nth-child(even) {
	background-color: white;
}

.productS-table tbody tr:hover {
	background-color: white;
}

.productS-form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	border-radius: 0;
	margin-bottom: 10px;
}

.productS-input-from {
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 66%;
	width: 38%;
	margin-top: 3%;
	border-radius: 5px;
	border-color: #008d4c;
	padding: 5px;
}

.product-searcher-heard {
	text-align: center;
	padding: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	margin-bottom: 30px;
}

.productS-form-select {
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	border-radius: 0px;
	margin-top: 0%;
}

.productS-button {
	background-color: #00a65a;
	border-color: #008d4c;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		border-color 0.3s,
		color 0.3s;
	margin-top: inherit;
}
.productS-button:hover {
	background-color: #008d4c;
}
.product-searcher-label {
	color: #354052;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.productS-button-edit {
	background-color: white;
	border-color: #007bff;
	color: #007bff;
}

.productS-button-delete {
	background-color: white;
	border-color: #dc3545;
	color: #dc3545;
}

.product-button:hover {
	background-color: #00a65a;
	border-color: #008d4c;
}

.productS-button-edit:hover {
	background-color: #007bff;
	border-color: #007bff;
	color: white;
}

.productS-button-delete:hover {
	background-color: #dc3545;
	border-color: #dc3545;
	color: white;
}
