#product-searcher-page {
	font-family: 'Source Sans Pro', sans-serif;
}

#product-searcher-page .form-check .form-check-input {
	display: inline-block;
	margin-right: 76%;
	margin-bottom: 6%;
	margin-block: 20%;
	padding: 14px 15px;
}

.product-table {
	width: 90%;
	border-collapse: collapse;
	margin-top: 10px;
}

.product-table th {
	background-color: #0e2a5d;
	color: #fff;
	font-weight: 700;
}
.product-table td {
	border: 1px solid #ddd;
	padding: 12px;
	text-align: center;
	color: #333;
	font-weight: 500;
	font-size: 12px;
}

.product-table th {
	background-color: #0e2a5d;
	color: #fff;
	font-weight: 700;
}

.product-table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

.product-table tbody tr:hover {
	background-color: #f1f1f1;
}

.product-form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	border-radius: 0;
	margin-bottom: 10px;
}

.product-input-from {
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 66%;
	width: 35%;
	margin-top: 3%;
	border-radius: 1px;
	background-color: #f5f5f5;
	padding: 5px;
}

.product-heard {
	margin: 10px 0 20px 0;
	text-align: left;
	margin-bottom: 20px;
	background-color: inherit;
	border-bottom: 1px solid #eeee;
	padding: 5px;
	margin-bottom: 15px;
}

.product-form-select {
	width: 90%;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	border-radius: 0px;
}

.product-button,
.product-button-edit,
.product-button-delete {
	background-color: #0e2a5d;
	border: 2px solid #18211d;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		border-color 0.3s,
		color 0.3s;
	margin-top: inherit;
}

.product-button-edit {
	background-color: #007bff;
	border-color: #007bff;
}

.product-button-delete {
	background-color: #dc3545;
	border-color: #dc3545;
}

.product-button:hover,
.product-button-edit:hover,
.product-button-delete:hover {
	background-color: #0056b3;
	border-color: #0056b3;
}
