/* Estilo para el contenedor principal */
.order-control-container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 10px;
	font-family: 'Arial', sans-serif;
}

/* Style for the heard */
.order-control-header {
	margin: 10px 0 20px 0;
	text-align: left;
	margin-bottom: 20px;
	background-color: inherit;
	border-bottom: 1px solid #eeee;
	padding: 5px;
	margin-bottom: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-top: -1%;
}

/* Style for date labesl*/
.order-label {
	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 3%;
	margin-right: 2%;
	margin-top: auto;
}

/* Style for date columns*/
.order-date-col {
	margin-bottom: 7%;
	margin-right: 5%;
	margin-left: 8%;
	text-align: center;
	display: flex;
	font-weight: bold;
}

/* Style for button */
.spinner {
	position: absolute;
	bottom: 50px;
	left: 55%;
	text-align: center;
}
