.market-rate-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 90%;
}

.market-rate-header {
	margin: 10px 0 20px 0;
	text-align: center;
	background-color: var(--secondary-color);
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 22px;
	color: var(--font-color);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.market-header2 {
	color: #333;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 5%;
}

.market-rate-form {
	margin-bottom: 30px;
}

.market-rate-form .form-label {
	font-weight: bold;
	color: #495057;
}

.market-rate-button {
	background-color: #00a65a;
	border-color: #008d4c;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		border-color 0.3s,
		color 0.3s;
}

.market-rate-button:hover {
	background-color: #008d4c;
	border-color: #00a65a;
}

.market-rate-table {
	margin-top: 20px;
}

.market-rate-table th,
.market-rate-table td {
	text-align: center;
	vertical-align: middle;
}

.market-rate-table th {
	background-color: #00a65a;
	border-color: #008d4c;
}
