.products-table-container {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px auto;
	width: 100%;
	padding: 20px;
}

.productTable-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	background-color: white;
	box-sizing: border-box;
	border-color: #ddd;
	border: 1px solid #ced4da;
	padding: 21px;
	margin: -0.1%;
	margin-top: 4%;
	margin-bottom: -2%;
}

.productsTable {
	width: 100%;

	margin-top: 20px;
}

.productsTable th {
	padding: 12px;
	text-align: center;
	border: 0px;
}
.productsTable td {
	padding: 12px;
	text-align: center;
	border: 2px;
}

.productsTable th {
	background-color: #00a65a;
	border-color: #008d4c;
	color: #fff;
}

.productsTable tbody tr:nth-child(even) {
	background-color: #662b2b;
}

.searchContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.searchContainer-select {
	width: 10%;
	margin-right: 2%;
	border-radius: 4px;
}

.searchContainer-input {
	width: 54%;
	margin-left: 46%;
	border-radius: 0%;
}

.buttonIcon {
	margin-right: 5px;
}

.editButton,
.deleteButton {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		border-color 0.3s,
		color 0.3s;
}

.editButton {
	background-color: white;
	border-color: #004494;
	color: #004494;
}

.editButton:hover {
	background-color: #003366;
	border-color: #003366;
}

.deleteButton {
	background-color: white;
	border-color: #dc3545;
	color: #dc3545;
}

.deleteButton:hover {
	background-color: #c82333;
	border-color: #bd2130;
}

.btnVariabts {
	background-color: white;
	border-color: #008d4c;
	font-size: 14px;
	padding: 5px 19px;
	border-radius: 5px;
	margin-right: center;
	margin-left: 3%;
	color: #008d4c;
}

.btnVariabts:hover {
	background-color: #008d4c;
	border-color: #008d4c;
	color: white;
}
.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
