.products-table-container {
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px auto;
	width: 100%;
	padding: 20px;
}

.productTable-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	background-color: #f5f5f5;
	box-sizing: border-box;
	border-color: #ddd;
	border: 1px solid #ced4da;
	padding: 21px;
	margin: -0.1%;
	margin-top: 4%;
	margin-bottom: -2%;
}

.productsTable {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.productsTable th,
.productsTable td {
	padding: 12px;
	text-align: center;
	border: 1px solid #ddd;
}

.productsTable th {
	background-color: #0e2a5d;
	color: #fff;
}

.productsTable tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

.searchContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.searchContainer-select {
	width: 10%;
	margin-right: 2%;
	border-radius: 4px;
}

.searchContainer-input {
	width: 54%;
	margin-left: 46%;
	border-radius: 0%;
}

.buttonIcon {
	margin-right: 5px;
}

.editButton,
.deleteButton {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition:
		background-color 0.3s,
		border-color 0.3s,
		color 0.3s;
}

.editButton {
	background-color: #004494;
	border-color: #004494;
	color: white;
}

.editButton:hover {
	background-color: #003366;
	border-color: #003366;
}

.deleteButton {
	background-color: #dc3545;
	border-color: #dc3545;
	color: white;
}

.deleteButton:hover {
	background-color: #c82333;
	border-color: #bd2130;
}

.btnVariabts {
	background-color: #004494;
	border-color: #004494;
	font-size: 14px;
	padding: 5px 19px;
	border-radius: 5px;
	margin-right: center;
	margin-left: 3%;
}

.btnVariants:hover {
	background-color: #003366;
	border-color: #003366;
}
.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.pagination-custom .page-link {
	color: #0e2a5d;
}

.pagination-custom .page-item.active .page-link {
	background-color: #0e2a5d;
	border-color: #0e2a5d;
}

.pagination-custom .page-link:hover {
	color: #0e2a5d;
}

.pagination-custom .page-link:focus {
	box-shadow: 0 0 0 0.25rem rgba(14, 42, 93, 0.25);
}
