.categories-page-container {
	margin-top: 50px;
	width: 60%;
	background-color: white;
}

.categories-page-header {
	font-size: 1.5rem;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
}

.add-category-section {
	background-color: white;
	border-radius: 1px;
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-category-section h3 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	text-align: center;
}

.category-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ced4da;
	box-sizing: border-box;
}

.checkbox-group {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.save-category-checkbox {
	margin-left: 0;
}
.form-check .form-check-input {
	float: right;
	margin-right: -80%;
	background-color: #00a65a;
	border-color: #008d4c;
	padding: 10px;
}

.save-category-checkbox label {
	font-weight: bold;
	color: #333;
	margin-left: -22px;
}

.add-category-btn {
	width: auto;
	padding: 10px 20px;
	background-color: #00a65a;
	border-color: #008d4c;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.add-category-btn:hover {
	background-color: #00a65a;
	border-color: #008d4c;
	padding: 11px;
}

.additional-interface-section {
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f8f9fa;
}

.additional-interface-section h3 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.category-list {
	list-style: none;
	padding-left: 0;
}

.category-list-col {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.category-list li span {
	cursor: pointer;
	display: block;
	font-size: 18px;
	color: #7d3131;
}
