body {
	font-family: 'Source Sans Pro', sans-serif;
}

.modal-title.h4 {
	margin-bottom: 0;
	color: #262c40;
}

.modal-content label {
	font-size: 15px;
	margin-bottom: 10px;
	color: #262c40;
	font-weight: bold;
}

.modal-content input[type='text'],
.modal-content input[type='date'],
.modal-content select {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal-content input[type='file'] {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
}

.modal-btn-primary {
	width: 30%;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #00a65a;
	border-color: #008d4c;
	color: #fff;
	font-size: medium;
	margin-left: -2%;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 1px 1px 1px #030e15;
}

.modal-btn-secondary {
	width: 30%;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #fafafa;
	color: #666;
	border-color: #ddd;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-color: #ddd;
	font-size: medium;
	margin-left: 0%;
	margin-right: 20%;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 1px 1px 1px #030e15;
}
