.payment-modal {
  position: fixed;
  top: 8%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  background-color: rgb(214, 238, 255);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-top: -5%;
}

.payment-modal-content {
  max-width: 80%;
}

.payment-modal-content h2 {
  color: #262c40;
  font-size: 24px;
  margin-bottom: 5%;
  margin-left: 25%;
}

.payment-modal-content p {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 2%;
}

.payment-modal-content label {
  font-size: 18px;
  margin-bottom: 2px;
  color: #262c40;
  margin-top: -1%;
}

.payment-modal-content input[type='text'],
.payment-modal-content input[type='file'],
.payment-modal-content input[type='date'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(218, 217, 217);
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px #053857;
}

.payment-modal-content button {
  border-color: #112845;
  background-color: #153255;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin: 8%;
}

.payment-modal-content button:hover {
  background-color: #112845;
}
