.LeftNavigationBar {
	height: 1000vh;
	background-color: #354052;
	padding: 10px;
	padding-left: 10px;
	border-bottom: 1px solid rgb(50, 47, 47);
	text-align: left;
	color: white;
	display: flex;
	flex-direction: column;
}

.col-3 {
	flex: 1;
}

.LeftNavigationBar img {
	max-width: 100px;
	padding: 1px;
	padding: 1px;
	padding: 1px;
	height: auto;
	margin-bottom: 30px;
	border-radius: 50px;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.LeftNavigationBar img:hover {
	background-color: #707c89;
}

.NavDropdown span {
	border-bottom: 2px solid gray;
}

.NavDropdown {
	margin-bottom: 30px;
	padding: 1em;
	border-bottom: 2px solid gray;
	text-align: left;
}

.NavDropdown-item {
	list-style: none;
	font-size: small;
	padding: 10px;
	text-align: left;
}

.NavDropdown a {
	display: block;
	padding: 8px 20px;
	color: #495057;
	text-decoration: none;
	transition: color 0.3s;
	margin-bottom: 30px;
	border-bottom: 10px solid gray;
	text-align: left;
}

.NavDropdown a:hover {
	color: rgb(124, 115, 115);
}

.LeftNavigationBar h2 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: medium;
	text-align: left;
}

.LeftNavigationBar h2:hover {
	background-color: #354063;
}

.LeftNavigationBar ul {
	padding-bottom: 0.6em;
	margin-left: -20px;
	padding-bottom: 0.6em;
	margin-left: -20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: medium;
}

.LeftNavigationBar ul .item {
	list-style: none;
	margin: 5px;
	border-bottom: 1px solid grey;
	text-align: left;
}

.LeftNavigationBar ul .item:hover {
	color: #354063;
	width: 110%;
}

.LeftNavigationBar ul:hover {
	background-color: #354063;
	width: 110%;
}

.LeftNavigationBar .NavDropdown {
	flex: 1;
}

@media screen and (max-width: 767px) {
	.LeftNavigationBar {
		width: 90%;
		background-color: #354052;
		padding: 10px;
		padding-left: 10px;
		border-bottom: 1px solid rgb(50, 47, 47);
		text-align: left;
		color: white;
	}
}
