.bulk-container {
	background-color: #ffffff;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 4px 12px rgba(255, 245, 245, 0.1);
	width: 90%;
	margin-bottom: 2%;
	padding-top: 5%;
}

.bulk-page-header {
	font-size: 24px;
	text-align: center;
	color: #333;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	border-bottom: 3px solid #eeeeee;
	padding-bottom: 10px;
	width: 107%;
	padding-top: 2%;
	margin-left: -1%;
}

.bulk-form {
	margin-bottom: 20px;
}
.bulk-label {
	color: #354052;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-left: 48%;
	text-align: right;
	position: relative;
}

.bulk-form-label {
	padding-top: -12px;
	margin-bottom: -4px;
	text-align: right;
	margin-left: 10%;
}
.bulk-label-check {
	color: #354052;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	margin-left: -69%;
	margin-top: 6%;
}

.bulk-form .form-control {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 65%;
	margin-left: 30%;
	margin-top: -3%;
	border-color: #00a65a;
	box-shadow: 0 0 5px rgba(0, 166, 90, 0.2);
}

.bulk-button {
	display: block;
	width: fit-content;
	padding: 10px 25px;
	margin: 20px auto 0;
	border-radius: 5px;
	font-weight: bold;
	font-size: 14px;
	background-color: #008d4c;
	border-color: #008d4c;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 12%;
}

.bulk-button:hover {
	background-color: darken(var(--primary-color), 10%);
}

.bulk-button:hover {
	background-color: #007b43;
	border-color: #007b43;
}

.bulk-from-check {
	float: right;
	margin-right: 52%;
	border-color: #008d4c;
	padding: 15px 10px;
}
