body {
	background-color: whitesmoke;
}

.registration-form {
	padding: 20px;
	border-radius: 0px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form-row {
	margin-bottom: 1px;
}

.registration-form-group {
	margin-bottom: 20px;
}

.registration-form-label {
	font-family: sans-serif;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 0.5rem;
	font-size: large;
	line-height: 1;
	vertical-align: top;
	margin-bottom: 0.5rem;
}

.registration-form-input,
.registration-form-select {
	padding: 12px;
	border: 1px solid #ebedf2;
	font-size: 0.8125rem;
	border-radius: 4px;
	transition: border-color 0.3s ease;
	width: 204%;
	border-color: #00a65a;
}

.registration-form-input:focus,
.registration-form-select:focus {
	border-color: #80bdff;
	outline: none;
}

.registration-form-button {
	background-color: #00a65a;
	border-color: #008d4c;
	border: 2px solid transparent;
	color: #fff;
	padding: 5px 20px;
	font-size: 1rem;
	border-radius: 0px;
	transition: background-color 0.3s ease;
	cursor: pointer;
	margin-left: 2%;
}

.registration-form-button:hover {
	background-color: #008d4c;
	border-color: #00a65a;
}

.label-registration-select {
	font-weight: 700;
}
