.registration-form {
	padding: 20px;
	border-radius: 8px;
}

.registration-form-row {
	margin-bottom: 20px;
}

.registration-form-group {
	margin-bottom: 20px;
}

.registration-form-label {
	font-size: large;
	font-family: sans-serif;
	font-weight: 500;
	display: block;
	margin-bottom: 0.5rem;
}

.registration-form-input,
.registration-form-select {
	padding: 12px;
	border: 1px solid #ebedf2;
	font-size: 0.8125rem;
	border-radius: 4px;
	transition: border-color 0.3s ease;
	width: 204%;
}

.registration-form-input:focus,
.registration-form-select:focus {
	border-color: #80bdff;
	outline: none;
}

.registration-form-button {
	background-color: darkcyan;
	border: 2px solid #18211800;
	color: #fff;
	padding: 5px 20px;
	font-size: 1rem;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.registration-form-button:hover {
	background-color: #0056b3;
}

.label-registration-select {
	font-weight: 700;
}
