.category-discount-container {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 90%;
	margin: 0 auto 2% auto;
}

.category-discount-header h1 {
	font-size: 24px;
	text-align: center;
	color: #333;
	margin-bottom: 2%;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	border-bottom: 3px solid #eeeeee;
	padding-bottom: 10px;
	width: 107%;
	padding-top: 2%;
	margin-left: -1%;
}

.category-discount-subheader h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 20px;
	color: #666;
}

.category-discount-form .form-group {
	margin-bottom: 20px;
}

.category-discount-form .form-control {
	border-radius: 5px;
	border: 1px solid #ced4da;
	padding: 10px;
	font-size: 1rem;
	width: 100%;
	padding: 7px;
}

.category-discount-form .form-check-group {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-bottom: 0;
	padding: 15px 20px;
}

.category-discount-form .form-check-input {
	margin-top: 17px;
	background-color: #00a65a;
	border-color: #008d4c;
	padding: 15px 15px;
}

.category-discount-form .form-check-label {
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	margin-top: -103%;
}

.category-discount-form .update-button {
	background-color: #00a65a;
	border-color: #008d4c;
	color: white;
	text-align: center;
	padding: 7px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin: 1%;
}

.category-discount-form .update-button:hover {
	background-color: #00a65a;
}
.category-discount-category {
	display: block;
	width: 69%;
	margin-right: 5%;
}
.discount-table th {
	background-color: #00a65a;
	border-color: #008d4c;
	font-size: 15px;
}

.align-self-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Spinner Container */
.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* Additional Fields Styles */
.form-category {
	margin-bottom: 25px;
}

.form-amount {
	margin-bottom: 25px;
}
/* Additional Fields Styles */
.form-category,
.form-amount {
	margin-bottom: 25px;
}

/* Table Styles */
.discount-table {
	margin-top: 5%;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.discount-table th,
.discount-table td {
	padding: 12px;
	border: none;
}

.discount-table th {
	background-color: #00a65a;
	border-color: #008d4c;
}

.discount-table tbody tr:hover {
	background-color: #f9f9f9;
}

.product-button-edit {
	margin-left: 35%;
	background-color: white;
	border-color: #007bff;
	color: #007bff;
}
.product-button-edit:hover {
	margin-left: 35%;
	background-color: #007bff;
	border-color: #007bff;
	color: white;
}

.product-button-delete {
	margin-left: 5%;
	background-color: white;
	border-color: #dc3545;
	color: #dc3545;
}
.product-button-delete:hover {
	margin-left: 5%;
	background-color: #dc3545;
	border-color: #dc3545;
	color: white;
}

label {
	color: #354052;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
