.bank-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.heard-state {
  margin-bottom: -8px;
  font-weight: 700;
  display: block;
}
.heard-number {
  margin-bottom: -8px;
  font-weight: 700;
  display: block;
  text-align: center;
}

.bank-container {
  margin-bottom: 10px;
}

.bank-select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #f9f9f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}

.bank-table {
  width: 100%;
  margin-top: 1%;
  color: #354052;
  border-spacing: 0 10px;
}

.bank-table th {
  background-color: #354052;
  color: #fff;
  border: 1px solid #566168;
  padding: 6px;
  text-align: center;
}

.bank-table td {
  border: 1px solid #bdc3c7;
  padding: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  text-align: center;
}

.bank-table {
  width: 101%;
  margin-top: 1%;
  color: #354052;
  border-spacing: 0 10px;
}

.bank-btn {
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #262c40;
  margin-top: 5px;
}

.bank-btn:hover {
  background-color: #50657c;
}

.bank-input {
  margin: 0px;
  margin-top: 0px;
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
  margin-top: 5px;
  width: 100%;
  padding: 7px 5px;
  background-color: #f9f9f9;
  margin-left: 18%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.bank-flex-container {
  display: flex;
}

.td-color {
  color: #0d6efd;
}
