.container {
  margin-top: 15px;
  background-color: #f0f0f0;
}

.order-info-col {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 1px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
}

.column-content {
  margin-bottom: 15px;
}

.column-content h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.column-content p {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.comprobante {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-right: -10px;
  margin-bottom: 3px;
  color: #333;
}

table,
th,
td {
  border: 1px solid #ddd;
  background-color: #007bff;
}

th,
td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

th {
  background-color: #f0f0f0;
}
.tb-4 {
  font-weight: bold;
  color: #007bff;
  margin-left: 10px;
}

.colspan-4 {
  font-weight: bold;
}

.additional-details {
  background-color: #f0f0f0;
  padding: 10 10px;
  margin-bottom: 20px;
}
.additional-details p {
  background-color: #fff;
}

.additional-details h2 {
  background-color: #fff;
}

.order-view {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  border-width: 10px;
}

.button-container {
  margin-top: -25px;
}

.button-container button {
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #2e598a;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}

.button-container button:last-child {
  margin-right: 0;
}
