/* Estilo para el contenedor principal */
.order-control-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Estilo para el encabezado */
.order-control-header {
  font-size: 18px;
  margin-bottom: 3%;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeee;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

/* Estilo para las etiquetas de fecha */
.order-label {
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 3%;
  margin-right: 2%;
}

/* Estilo para las columnas de fecha */
.order-date-col {
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  display: flex;
}

/* Estilo para el botón */
.order-button {
  background-color: #0e2a5d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 17px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 2px 2px #335;
}

.order-button:hover {
  background-color: #0056b3;
}
.custom-date-picker {
  display: block ruby;
  border: 2px solid #e0e0e0;
  padding: 17px;
  margin-left: 0;
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px #053857;
}
/* OrderControlPage.css 
.order-control-container {
  margin: 0 auto;
  max-width: 1200px;
}

.order-control-header {
  font-size: 24px;
  margin-bottom: 10%;
  padding: 15px;
  background-color: #fff;
  color: #333;
  text-align: left;
}

.row-cols {
  display: flex;
  justify-content: space-between;
}

.column-card {
  margin-bottom: 20px;

  border: 1px solid var(--ct-border-color);
}

.column-with-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #e9ecef;
  text-align: center;
  margin: -10px;
}

.order-column-texto {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.order-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; 
  word-wrap: break-word;
  border: 1px solid rgb(172, 166, 166);
  border-radius: 10px;
  padding: 20px; 
  margin-right: -10px;
}

.order-card-text {
  font-size: 10px;
  color: #666;
  line-height: 1.8;
  margin-right: 10%;
  text-align: justify; 
}

.order-date-col {
  margin-bottom: 10%;
  margin-left: 10%;
}

html,
body {
  background: #f0f0f0;


  custom-date-picker {
  display: block ruby;
  border: 2px solid #e0e0e0;
  padding: 17px;
  margin-left: 0;
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px #335;
}
*/
