body {
  font-family: 'Times New Roman', serif;
}

header {
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.order-view {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.order-info-col {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
}

.column-content {
  margin-bottom: 20px;
}

.title-h2 {
  color: #333;
}

.label {
  font-weight: bold;
}

.comprobante table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.comprobante th,
.comprobante td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.colspan-4 {
  background-color: white;
  color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.additional-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.additional-details th,
.additional-details td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.button-container button {
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #2e598a;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}

.additional-details th {
  background-color: #fff;
  color: #333;
  padding: 10px;
  text-align: center;
}
