/* OrderControlPage.css */
.order-control-container {
  margin: 0 auto;
  max-width: 1200px;
}

.order-control-header {
  font-size: 24px;
  margin-bottom: 10%;
  padding: 15px;
  background-color: #fff;
  color: #333;
  text-align: left;
}

.row-cols {
  display: flex;
  justify-content: space-between;
}

.column-card {
  margin-bottom: 20px;

  border: 1px solid var(--ct-border-color);
}

.column-with-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #e9ecef;
  text-align: center;
  margin: -10px;
}

.order-column-texto {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.order-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: -5px;
  word-wrap: break-word;
  border: 1px solid rgb(172, 166, 166);
  border-radius: 10px;
  padding: 25%;
}

.order-card-text {
  font-size: 12px;
  color: #666;
  line-height: 1.6;
  margin-right: 10%;
}

.order-date-col {
  margin-bottom: 10%;
  margin-left: 10%;
}
.texto-spam {
  color: aqua;
}

html,
body {
  background: #f0f0f0;
}
