/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

/* Estilo para el encabezado de la tabla */
th {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

/* Estilo para las celdas de la tabla */
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Estilo para las filas impares de la tabla */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilo para las filas al pasar el ratón */
tr:hover {
  background-color: #e9e9e9;
}

/* Estilo para la tabla en dispositivos móviles */
@media only screen and (max-width: 600px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
}
