.title-container {
  margin: 10px 0 20px 0;
  text-align: left;
  margin-bottom: 20px;
  background-color: inherit;
  border-bottom: 1px solid #eeee;
  padding: 5px;
  margin-bottom: 15px;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.order-summary-container {
  margin: 0 -5px;
  margin-bottom: 20px;
}
