/*Prueba N 1*/
/* Estilo para el contenedor principal */
.order-control-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Estilo para el encabezado */
.order-control-header {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Estilo para las etiquetas de fecha */
.order-label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: medium;
}

/* Estilo para las columnas de fecha */
.order-date-col {
  margin-bottom: 8%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

/* Estilo para las tarjetas de pedido */
.order-card {
  border: 3px solid #888;
  border-radius: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  width: auto;
  box-shadow: 0 3px 3px #335;
}

/* Estilo para el contenido de las tarjetas de pedido */
.order-card-content {
  padding: 20px;
  background-color: #f8f9fa;
}

/* Estilo para el texto dentro de las tarjetas de pedido */
.order-card-text {
  font-size: 11px;
  color: #555;
  font-family: 'Times New Roman', Times, serif;
}

/* Estilo para los iconos junto al texto */
.texto-spam {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* Estilo para los iconos */
.texto-spam i {
  margin-right: 10px;
  font-size: small;
}

/* Estilo para las columnas */
.column-card {
  display: flex;
  justify-content: center;
}

/* Estilo para el contenedor de cada columna */
.column-with-card {
  width: 140%;
  border: 2px solid #777;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-align: center;
  margin: -10px;
}

/* Estilo para el texto del título de columna */
.order-column-texto {
  font-size: 13px;
  border-bottom: 2px solid #777;
  font-weight: bold;
  color: #354052;
  margin: 5px;
  padding: 12px;
  font-family: 'Arial', sans-serif;
}

/* Estilo para el botón */
.order-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 2px 2px #335;
}

.order-button:hover {
  background-color: #0056b3;
}

/*Prueba 2*/
/* Estilo para el contenedor principal */
.order-control-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilo para el encabezado */
.order-control-header {
  font-size: 20px;
  margin-bottom: 15%;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Estilo para las etiquetas de fecha */
.order-label {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Estilo para las columnas de fecha */
.order-date-col {
  margin-bottom: 8%;
  margin-right: 5%;
  margin-left: 3%;
  text-align: center;
}

/* Estilo para las tarjetas de pedido */
.order-card {
  border: 3px solid rgb(215, 208, 208);
  border-radius: 10px;
  margin-bottom: 10%;
  word-wrap: break-word;
  width: auto;
}

/* Estilo para el contenido de las tarjetas de pedido */
.order-card-content {
  padding: 20%;
  background-color: blue;
}

/* Estilo para el texto dentro de las tarjetas de pedido */
.order-card-text {
  font-size: 12px;
  color: #555;
  font-family: 'Times New Roman', Times, serif;
}

/* Estilo para los iconos junto al texto */
.texto-spam {
  display: flex;
  align-items: center;
  margin-bottom: 8%;
}

/* Estilo para los iconos */
.texto-spam i {
  margin-right: 10%;
  font-size: small;
}

/* Estilo para las columnas */
.column-card {
  display: flex;
  justify-content: center;
}

/* Estilo para el contenedor de cada columna */
.column-with-card {
  width: 150%;
  border: 2px solid rgb(119, 129, 182);
  border-radius: 5px;
  background-color: lightsteelblue;
  text-align: center;
  margin: -10px;
}
.order-column-texto {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
}
html,
body {
  background: #e9ecef;
}
.separator {
  margin-right: 1px;
  margin-left: -5px;
}
.order-button {
  background-color: #033857;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  border: 2px solid grey;
  width: 40%;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 1px 1px #335;
}

.order-button:hover {
  background-color: #112845;
}

/*Prueba final/*
/* Estilo para el contenedor principal */
.order-control-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Estilo para el encabezado */
.order-control-header {
  font-size: 18px;
  margin-bottom: 10%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(13, 67, 155); /* Color: --blue-ribbon-900 */
  font-family: 'Source Sans Pro', sans-serif;
}

/* Estilo para las etiquetas de fecha */
.order-label {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Estilo para las columnas de fecha */
.order-date-col {
  margin-bottom: 8%;
  margin-right: 5%;
  margin-left: 3%;
  text-align: center;
}

/* Estilo para las tarjetas de pedido */
.order-card {
  border: 1px solid rgb(218, 217, 217);
  border-radius: 10px;
  margin-bottom: 10%;
  word-wrap: break-word;
  width: auto;
  box-shadow: 0 3px 3px 3px#b5e3ff;
}

/* Estilo para el contenido de las tarjetas de pedido */
.order-card-content {
  padding: 20%;
  background-color: rgb(214, 238, 255); /* Color: --blue-ribbon-100 */
}

/* Estilo para el texto dentro de las tarjetas de pedido */
.order-card-text {
  font-size: 12px;
  color: #555;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
}

/* Estilo para los iconos junto al texto */
.texto-spam {
  display: flex;
  align-items: center;
  margin-bottom: 8%;
}

/* Estilo para los iconos */
.texto-spam i {
  margin-right: 10%;
  font-size: small;
}

/* Estilo para las columnas */
.column-card {
  display: flex;
  justify-content: center;
}

/* Estilo para el contenedor de cada columna */
.column-with-card {
  width: 150%;
  border: 2px solid #d6eeff; /* Color: --blue-ribbon-900 */
  border-radius: 5px;
  background-color: #edf8ff; /* Color: --blue-ribbon-200 */
  text-align: center;
  margin: -10px;
  padding: 2px;
}

/* Estilo para el texto del título de columna */
.order-column-texto {
  font-size: 13px;
  font-weight: bold;
  color: #555;
  margin: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  border-bottom: 3px solid rgb(218, 217, 217);
}

/* Estilo para el botón */
.order-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 2px 2px #335;
}

.order-button:hover {
  background-color: #0056b3;
}
