.container {
  margin-top: 30px;
  background-color: rgb(219, 210, 210);
}

h1 {
  font-size: 15px;
  color: #333;
  margin-bottom: 15px;
  display: contents;
}

.order-info-col {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 1px;
  margin-bottom: 10px;
}

.order-info-col p {
  font-size: small;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.6;
}

.comprobante h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 5px;
  text-align: left;
  font-size: small;
}

th {
  background-color: #f2f2f2;
}

.detalles-adicionales {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.detalles-adicionales h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.detalles-adicionales p {
  font-size: small;
  color: #555;
  margin-bottom: 5px;
}

.order-info-col p strong {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  min-width: 180px;
}

.order-info-col p label {
  font-weight: normal;
  color: #007bff;
}
