.general-discount-container {
	background-color: white;
	margin: 1%;
	width: 100%;
	padding: 10px 10px;
	margin-bottom: 10px;
}

.general-discount-header {
	margin: 0.1rem;
	text-align: left;
	margin-bottom: 20px;
	background-color: inherit;
	padding: -6px;
	margin-bottom: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.general-discount-subheader {
	margin: 1%;
	text-align: left;
	margin-bottom: 10px;
	background-color: inherit;
	padding: 5px;
	margin-bottom: 15px;
	margin-top: auto;
	font-size: 20px;
}

.general-discount-form .form-group {
	margin-bottom: 25px;
}

.general-discount-form .form-control {
	border-radius: 0px;
	border: 1px solid #ced4da;
	padding: 10px;
	font-size: 1rem;
	width: 100%;
}

.general-discount-form .form-check-group {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-bottom: 0;
	padding: 15px 20px;
}

.general-discount-form .form-check-input {
	margin-top: 5px;
	background-color: #00a65a;
	border-color: #008d4c;
	padding: 15px 15px;
}

.general-discount-form .form-check-label {
	margin-bottom: 9px;
	text-align: center;
	margin: -1%;
}

.general-discount-form .update-button {
	background-color: #00a65a;
	border-color: #008d4c;
	color: white;
	text-align: center;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 0px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 15%;
	margin: 1%;
}

.general-discount-form .update-button:hover {
	background-color: #00a65a;
	border-color: #008d4c;
}
.align-self-center {
	margin-right: 0%;
}
