/* Agrega estos estilos a tu archivo CSS correspondiente */

.custom-date-picker {
  display: inline-block;
  border: 1px solid #ced4da;
  padding: 10px;
  margin-left: 0px;
  border-radius: 0px;
  background-color: #f8f9fa; /* Fondo sutil */
  box-shadow: 0 0 1px; /* Sombreado suave */
}

.bi-calendar-icon {
  color: #393f45;
  font-size: 1.5em;
  margin-right: 8px;
}

.date-picker-input {
  font-weight: 200;
  font-style: normal;
  width: 150px;
  padding: 10px;
}

.date-picker-label {
  font-size: 15px;
  margin-bottom: 5px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}
