.custom-date-picker {
  display: inline-block;
  border: 2px solid #e0e0e0;
  padding: 8px;
  margin-left: 10px;
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px #335;
  position: relative;
}

.bi-calendar-icon {
  color: #354063;
  font-size: 1.8em;
  margin-right: 10px;
}

.date-picker-input {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  width: 150px;
  padding: 2px;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
}

.date-picker-label {
  font-size: 16px;
  margin-bottom: 5px;
  padding: 0;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px 0;
}
