.Table {
  width: 90%;
  margin-top: 1%;
  color: #354052;
  border-spacing: 0 10px;
}
#searchForm {
  margin-bottom: 10px;
  margin-left: 55%;
  width: 35%;
  margin-top: 5%;
  border-radius: 1px;
  background-color: #f5f5f5;
  padding: 5px;
}

.Table th {
  background-color: #354052;
  color: #fff;
  border: 1px solid #566168;
  padding: 12px;
  text-align: left;
}

.Table td {
  border: 1px solid #bdc3c7;
  padding: 12px;
  font-family: 'Arial', sans-serif;
}

.Table tbody tr:nth-child(odd) {
  background-color: #ecf0f1;
}
.Table tbody tr:hover {
  background-color: #d4e6f1;
  transition: background-color 0.3s;
}
.row-recientes {
  background-color: #00c0ef;
}
.row-no-atendidos {
  background-color: #f56954;
}
.row-preparando {
  background-color: #00a65a;
}
.row-preparados {
  background-color: #0073b7;
}
.row-enviando {
  background-color: #ff851b;
}
.row-sucursal {
  background-color: #f39c12;
}
.row-atendidos {
  background-color: #222222;
}
