.navbar {
  background-color: #245b92 !important;
  padding: 15px 0;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  color: orange !important;
}
.nav-item .dropdown {
  float: right !important;
}
.navbar .dropdown-item {
  background-color: whitesmoke !important;
  border: bottom 15px;
  text-align: left;
  font-size: small;
  width: 200px;
}
.navbar-nav .dropdown-menu {
  margin: 50px;
  font-size: small;
  text-align: justify;
  color: white;
}
.dropdown-title {
  color: white !important;
}
/* LeftNavigationBar*/
/* styles.css (o tu archivo de estilos principal) */
.LeftNavigationBar {
  width: 300px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  border-bottom: 5px gray !important;
  text-align: left;
}

.LeftNavigationBar img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid gray !important;
  text-align: left;
}
.LeftNavigationBar img:hover {
  background-color: #245b92;
}

.NavDropdown {
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);

  text-align: left;
}

.NavDropdown li {
  list-style: none;
  font-size: small;
  padding: 10px;

  text-align: left;
}

.NavDropdown a {
  display: block;
  padding: 8px 15px;
  color: #495057;
  text-decoration: none;
  transition: color 0.3s;
  margin-bottom: 30px;
  border-bottom: 1px solid gray !important;
  text-align: left;
}
.NavDropdown a :hover {
  color: whitesmoke;
}

.NavDropdown a:hover {
  color: whitesmoke;
}

.LeftNavigationBar h2 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 8px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid gray !important;
  text-align: left;
}
.LeftNavigationBar h2:hover {
  background-color: #245b92;
}

.LeftNavigationBar ul {
  padding: 0;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border-bottom: 1px solid #ddd;
}
.LeftNavigationBar ul:hover {
  color: rgb(52, 46, 46);
}
.LeftNavigationBar ul li {
  list-style: none;
  margin: 30px;
  padding: 20px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid green !important;
  text-align: left;
}
.LeftNavigationBar ul li:hover {
  color: cadetblue;
}
.LeftNavigationBar ul:hover {
  background-color: #245b92;
}
