.variants-form-container {
	background-color: white;
	padding: 30px;
	border-radius: 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	margin-bottom: 2%;
}

.tiltle-variants {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #333;
	text-align: center;
}

.variant-container {
	background-color: white;
	padding: 30px;
	border-radius: 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 95%;
	margin-bottom: 2%;
	border: 1px solid #008d4c;
}

.variant-form-scroll {
	max-height: 500px;
	overflow-y: auto;
	margin-bottom: 20px;
}

.variant-form {
	background-color: #ffffff;
	border-radius: 8px;
	padding: 15px;
	margin-bottom: 20px;
}

.subtitulo-variants {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	color: #555;
	text-align: center;
	border-bottom: 3px solid #eeeeee;
}

.form-row {
	margin-bottom: 15px;
}

.form-group {
	margin-bottom: 15px;
}

.label-form-variants {
	font-weight: 500;
	color: #666;
}

.form-input,
.form-input-variant {
	border-radius: 4px;
	border: 1px solid #ddd;
}

.btn-choose-file {
	margin-top: 10px;
	display: inline-block;
}

.remove-variant-button {
	background-color: white;
	border-color: #dc3545;
	color: #dc3545;
	margin-left: 50%;
	margin-top: -5%;
}
.save-variant-button {
	margin-left: 40%;
	margin-top: 2%;
	border-color: #008d4c;
	color: #008d4c;
	background-color: white;
}
.add-variant-button {
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	margin-left: 44%;
	margin-top: 2%;
}

.custom-file-input {
	display: none;
}

.custom-file {
	display: flex;
	flex-direction: column;
}

.custom-file-input:focus {
	border-color: #008d4c;
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
	background-color: #008d4c;
}

.btn-choose-file {
	border-radius: 4px;
	border-color: #008d4c;
	color: #555;
	background-color: white;
}

.btn-choose-file:hover {
	background-color: #0056b3;
}

.text-right {
	text-align: right;
}

.form-checkbox1-variant,
.form-checkbox2-variant {
	margin-bottom: 10px;
}
.form-check-input:checked {
	background-color: #008d4c;
	border-color: #008d4c;
}
.form-check-input:hover {
	background-color: #008d4c;
	border-color: #008d4c;
}
