.variants-form-container {
	background-color: white;
	padding: 30px;
	border-radius: 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	margin-bottom: 2%;
}

.title-variants {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #333;
	text-align: center;
}

.variant-container {
	background-color: white;
	padding: 30px;
	border-radius: 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 95%;
	margin-bottom: 2%;
}

.subtitulo-variants {
	font-size: larger;
	font-weight: 500;
	margin-bottom: 15px;
	color: #333;
	text-align: center;
}

.form-row {
	margin-bottom: 15px;
}

.form-group {
	margin-bottom: 15px;
}

.label-form-variants {
	font-weight: 500;
	color: #666;
}

.form-input,
.form-input-variant {
	border-radius: 4px;
	border: 1px solid #ddd;
}

.btn-choose-file {
	margin-top: 10px;
	display: inline-block;
}
.variant-form {
	border-bottom: 3px solid #ddd;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
	padding: 10px 10px;
	position: relative;
	margin-bottom: 26px;
}

.btn-remove-variant {
	background-color: white;
	border-color: #dc3545;
	color: #dc3545;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

.form-row {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.save-variant-button {
	margin-left: 40%;
	margin-top: 2%;
	border-color: #008d4c;
	color: #008d4c;
	background-color: white;
}
.btn-add-variant {
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	margin-left: 2%;
	margin-top: 2%;
}

.custom-file-input {
	display: none;
}

.custom-file {
	display: flex;
	flex-direction: column;
}

.custom-file-input:focus {
	border-color: #008d4c;
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
	background-color: #008d4c;
}

.btn-choose-file {
	border-radius: 4px;
	border-color: #008d4c;
	color: #555;
	background-color: white;
	position: static;
}

.btn-choose-file:hover {
	background-color: white;
	color: #555;
}

.form-checkbox1-variant,
.form-checkbox2-variant {
	margin-bottom: 10px;
}
.form-check-input:checked {
	background-color: #008d4c;
	border-color: #008d4c;
}
.form-check-input:hover {
	background-color: #008d4c;
	border-color: #008d4c;
}
.form-check-input {
	width: 2em;
	height: 2em;
	margin-top: 0.25em;
	vertical-align: top;

	background-color: #008d4c;
}
.button-remove-image {
	background-color: white;
	border-color: white;
	color: #dc3545;
	margin-top: 26%;
	margin-left: 64px;
	position: relative;
}
.image-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.image-preview {
	max-height: 130px;
	max-width: 117px;
	margin-bottom: -26%;
	margin-left: 15%;
	margin-top: 2%;
}
