.container-white-bg {
	background-color: white;
	padding: 20px;
	border-radius: 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 90%;
	margin-bottom: 2%;
}
.containerTable-white-bg {
	background-color: white;
	padding: 20px;
	border-radius: 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 90%;
	margin-top: 2%;
}

.custom-card {
	width: 90%;
	margin: 16px;
	border-radius: 15px;
	padding: 15px;
	box-shadow: 0 18px 6px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.8);
}

.card-title {
	font-size: 40px;
	font-weight: bold;
}

.card-text {
	font-size: 20px;
}
.card-text:hover {
	color: #f5f5f5;
	font-weight: bold;
}

.icon-container {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 50%;
	font-size: 60px;
}

.btn {
	margin-top: 10px;
	color: white;
}

.btn i {
	margin-left: 5px;
}
.btn i:hover {
	color: #f5f5f5;
	font-weight: bold;
}
.button-status {
	margin-top: 10px;
	color: white;
}
