.customers-header {
	font-size: 24px;
	text-align: center;
	color: #333;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	border-bottom: 3px solid #eeeeee;
	padding-bottom: 10px;
	width: 100%;
	padding-top: 2%;
}

.customers-subheader {
	text-align: center;
	margin-bottom: 30px;
	font-size: 20px;
	color: #666;
}

.customers-container {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 90%;
	margin: 0 auto 2% auto;
}

.customers-controls-container {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.customers-label-search {
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 46%;
}
.customers-search-input {
	width: 54%;
	margin-left: 46%;
	border-radius: 0%;
}
.customers-show-label {
	font-size: 16px;
	font-weight: bold;
}

.customers-table-container {
	margin-top: -2%;
}

.customers-table {
	width: 100%;
	border-collapse: collapse;
}

.customers-table th {
	background-color: #00a65a;
	border-color: #008d4c;
	padding: 14px;
	text-align: center;
}

.customers-table td {
	padding: 12px;
	text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 123, 255, 0.1);
}

.customers-table-hover tbody tr:hover {
	background-color: rgba(0, 123, 255, 0.15);
}

.customers-select-show {
	width: 44px;
	border-radius: 0px;
}
